.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
}

.container {
  margin-top: 50px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bolder;
  color: #343a40;
}

.input-group {
  margin-bottom: 20px;
}

.btn-add {
  margin-left: 10px;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
  opacity: 0;
}

.list-group-item.show {
  opacity: 1;
}

.btn-edit,
.btn-delete {
  margin-left: 10px;
}

.btn-delete {
  color: red;
}

.list-group-item.show {
  display: flex;
  align-items: center;
}

.btn-delete, .btn-edit {
  margin-left: 10px;
}
